<head>
  {{ partial "head/meta" . }}
  <title>{{ partial "data/title" . }}</title>
  <link rel='canonical' href='{{ .Permalink }}'>
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ partial "data/title" . }}" />
  {{ end }}
  {{ partial "head/hreflang" . }}
  {{ partial "head/includes" . }}

<meta name="twitter:card" content="summary" />
<meta name="og:title" content="{{ partial "data/title" . }}" />
<meta name="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta name="og:image" content="{{ .Site.BaseURL }}{{ .Params.eyecatch }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:site" content="@morix1500" />
<meta name="twitter:creator" content="@morix1500" />
<link rel="canonical" href="{{ .Permalink }}"/>

{{ if .IsPage }}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/hopscotch.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{ .Permalink }}"
  },
  "headline": "{{ partial "data/title" . }}",
  "image": "{{ .Site.BaseURL }}profile.jpg",
  "dateCreated": "{{ .Date.Format "2006/01/02" }}",
  "datePublished": "{{ .Date.Format "2006/01/02" }}",
  "dateModified": "{{ .Date.Format "2006/01/02" }}",
  "author": {
    "@type": "Person",
    "name": "morix",
    "image": "{{ .Site.BaseURL }}profile.jpg"
  },
   "publisher": {
    "@type": "Organization",
    "name": "morix",
    "logo": "{{ .Site.BaseURL }}profile.jpg"
  },
  "description": "{{ substr (replace (.Content | plainify) "\n" "") 0 110 }}"
}
</script>
{{ end }}
</head>
